@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

$phoneDetails: #d3d3d3;
$phoneColor: #dfdfdf;
$tinderColor: #FE3C72;
$phoneWidth: 320px;
$phoneHeight: 560px;
$headerHeight: 64px;
$medium-font-size: 1.4rem;
$small-font-size: 1.2rem;

*, *:before, *:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #333;
}

body, html {
  margin: 0;
  width: 100%;
  height: 100%;
}


#app , #root{
  height: 100%;
  width: 100%;
}

.header{
  height: $headerHeight;
  background: $tinderColor;
  color: white;
  font-size: $medium-font-size;
  text-align: center;
  line-height: $headerHeight;
}

.container{
  width: 90%;
  margin: 5% auto 0 auto;
  position: relative;
  height: 70%;
}

.people{
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  position: absolute;
  z-index: 100;
  &--image{
    width: 100%;
    height: 60vh;
    object-fit: cover;
  }

  &--info{
    display: flex;
    padding: 1rem;
  }

  &--info-name{
    font-weight: bold;
    padding-right: 0.5rem;
    font-size: $medium-font-size;
  }

  &--info-age{
    font-size: $small-font-size;
    color: gray;
  }
}

.rotate-right{
  transform: translateX(400px) rotate(30deg) scale(0.8);
  transition: 1s;
  opacity: 0;
  z-index: 10;
}

.rotate-left{
  transform: translateX(-400px) rotate(-30deg) scale(0.8);
  transition: 1s;
  opacity: 0;
  z-index: 10;
}


#control {
  height: calc(30% - #{$headerHeight});
}

.button {
  width: 200px;
  margin:auto;
  height: 65px;
  display: flex;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  .trigger {
    background: white;
    display: block;
    border-radius: 50%;
    width: 75%;
    height: 75%;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    transition: all .1s;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    &:active {
      transform: translateY(-50%) scale(0.75);
      transition: all .05s linear;
    }
    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      font-family: 'FontAwesome';
    }
  }

  &--no {
    width: 65px;
    border-radius: 50%;
    height: 65px;
    background: #eee;
    .trigger:before {
      content: "\f00d";
      font-size: 28px;
      color: #c33;
    }
  }

  &--yes {
    border-radius: 50%;
    width: 65px;
    height: 65px;
    background: #eee;
    .trigger:before {
      content: "\f004";
      font-size: 22px;
      color: #3b7;
    }
  }

  &--info {
    border-radius: 50%;
    background: #eee;
    height: 46px;
    width: 46px;
    margin-top: auto;
    .trigger {
      width: 65%;
      height: 65%;
      &:before {
        content: "\f05a";
        font-size: 16px;
        color: #3498db;
      }
    }
  }
}
